<h2 class="page-header">Edit Book</h2>

<form action="/books/<%= book.id %>?_method=PUT" method="post">

  <%-  include('_form_fieldss') %>
<div class="form-row form-row-end btn-row">
  <a class="bnt btn-danger" href="/books">Cancel</a>

  <button class="bnt btn-primary" type="submit" >Update</button>

</div>
</form>
